<div class="login_form">
<h1>Log in</h1>

<% if flash[:alert] %>
  <div style="color:red"><%= flash[:alert] %></div>
<% end %>

<%= form_tag :login do %>
  <%= text_field_tag :name, nil, placeholder: 'Name' %>
  <%= password_field_tag :password, nil, placeholder: 'Password' %>
  <%= submit_tag 'Log In' %>
<% end %>


</div>
