<div class="form">
<h1>Edit User</h1>

  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :bio %>
    <%= f.text_area :bio %>

    <%= f.label :user_img_url %>
    <%= f.text_field :user_img_url %>
  <% end %>
</div>
