<div class="form">
<h1>Register</h1>

<% if flash[:alert] %>
  <div style="color:red"><%= flash[:alert] %></div>
<% end %>

  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :bio %>
    <%= f.text_area :bio %>

    <%= f.label :user_img_url %>
    <%= f.text_field :user_img_url %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Sign Up!" %>
  <% end %>
</div>
