<div class="form">
<h1>New Critique</h1>

<%= form_for @critique do |f| %>
<%= f.label :content %>
<%= f.text_area :content %> <br>
<%= f.label :post_id, "Please Select Post to Critique" %>
<%= f.collection_select :post_id, Post.order(:title), :id, :title, include_blank: true %> </br>
<%= f.submit %>
<% end %>

</div>
