<div class="form">
<h1>New Critique</h1>

<%= form_for [@user, @post, @critique], :url => user_post_critiques_path(@post.user, @post, @critique) do |f| %>
<%= f.label :content %>
<%= f.text_area :content %> <br>
<%= f.hidden_field :user_id, :value => session[:id] %>
<%= f.hidden_field :post_id, :value => @post.id %>
<%= f.submit "Submit Critique" %>
<% end %>
</div>
