<center>
<h1>All Posts</h1>

<% @categories.each do |cat| %>
  <%= link_to cat.medium, category_path(cat), :class => "button" %>
<% end %>

<div class="search_form">
  <%= form_tag(posts_path, method: :get) do %>
   <%= text_field_tag :search, params[:search] %>
   <%= submit_tag 'Search', :name => nil %>
<% end %>
</div>

<% if flash[:alert] %>
  <div style="color:red"><%= flash[:alert] %></div>
<% end %>

<!-- <div class="ui card">
  <a class="image" href="#">
    <img src="/images/avatar/large/steve.jpg">
  </a>
  <div class="content">
    <a class="header" href="#">Steve Jobes</a>
    <div class="meta">
      <a>Last Seen 2 days ago</a>
    </div>
  </div>
</div> -->

  <div class="ui link cards">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="image">
        <%= image_tag post.post_img_url, :class => "grid_image" %>
    </div>
    <div class="content">
      <div class="header"><%= link_to post.title, post_path(post) %></div>
    </div>
  </div>
  <% end %>
  </div>

</center>
