<center>
<h1>All Posts</h1>


<%= link_to "PAINTING", category_path(1), :class => "button" %>
<%= link_to "SCULPTURE", category_path(3), :class => "button" %>
<%= link_to "PHOTOGRAPHY", category_path(2), :class => "button" %>
<%= link_to "MIXED MEDIA", category_path(4), :class => "button" %>

<div class="search_form">
  <%= form_tag(posts_path, method: :get) do %>
   <%= text_field_tag :search, params[:search] %>
   <%= submit_tag 'Search', :name => nil %>
<% end %>
</div>

<% if flash[:alert] %>
  <div style="color:red"><%= flash[:alert] %></div>
<% end %>

  <div class="ui link cards">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="image">
        <%= image_tag post.post_img_url, :class => "grid_image" %>
    </div>
    <div class="content">
      <div class="header"><%= link_to post.title, post_path(post) %></div>
    </div>
  </div>
  <% end %>
  </div>
</center>
