
<%= image_tag @post.post_img_url, :class => "post_image" %>
<h1> <%= @post.title %> </h1>
By: <%= link_to @post.user.name, user_path(@post.user_id) %>
<p> <%= @post.description %> </p>
Price: <%= @post.price %><br>

<% if session[:user_id] %>
<%= link_to "Edit", edit_user_post_path(@post), :class => "button" %>
<%= link_to "Delete Post", user_post_path(@post), method: :delete, :class => "button" %>
<% end %>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="grid-container">
<div class="grid-item">

<div class="form">
<h1>New Critique</h1>

<%= form_for @critique do |f| %>
<%= f.label :content %>
<%= f.text_area :content %> <br>
<%= f.hidden_field :post_id, :value => @post.id %>
<%= f.submit "Submit Critique" %>
<% end %>
</div>
</div>

<div class="grid-item">

<div class="ui comments">
  <h3 class="ui dividing header"><%= @post.title %> Critiques</h3>
  <div class="comment">
    <% @post.critiques.each do |crit| %>
    <a class="avatar">
      <%= image_tag crit.post.user.user_img_url, :class => "critique_image" %>
    </a>
    <div class="content">
      <a class="author"><%= crit.post.user.name %></a>
      <div class="text">
          <%= crit.content %>
        </div>
    </div>
    <% end %>
  </div>
</div>
</div>

</div>

<br>
<br>
<br>
