
<%= image_tag @post.post_img_url, :class => "post_image" %>
<h1> <%= @post.title %> </h1>
By: <%= link_to @post.user.name, user_path(@post.user_id) %>
<p> <%= @post.description %> </p>
Price: <%= @post.price %><br>

<%= link_to "Edit", edit_post_path(@post), :class => "button" %><%= link_to "Critique Post", new_critique_path, :class => "button" %>
<%= button_to "Delete Post", { action: "destroy", id: @post.id }, method: "delete" %>

<div class="form">
<h1>New Critique</h1>

<%= form_for @critique do |f| %>
<%= f.label :content %>
<%= f.text_area :content %> <br>
<%= f.hidden_field :post_id, :value => @post.id %>
<%= f.submit "Submit Critique" %>
<% end %>
</div>

<h1><%= @post.title %> Critiques</h1>

<ul>
  <% @post.critiques.each do |crit| %>
  <li><%= crit.post.title %></li>
  <li><%= crit.content %></li><br>
  <% end %>
</ul>
